<!-- Form to editing an existing item -->
<% if (newItem === false) { %>

<form class="py-3 px-4" action="/painel/categoria/<%= categoryDetails.id %>" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="id"></label>
            <input type="hidden" name="id" class="form-control" id="id" value='<%= categoryDetails.id %>' placeholder="id da Categoria">
        </div>
      <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <input type="text" name="nome" class="form-control" id="nome" value='<%= categoryDetails.name %>' placeholder="Nome da Categoria">
      </div>
      <div class="form-group col-md-6">
        <label for="description">Descrição</label>
        <textarea class="form-control" name="description" id="description" rows='4'><%= categoryDetails.description %></textarea>
      </div>      
    <div class="mt-5">

<!-- Button trigger modal -->
<a href="/painel/categoria"        
    class="btn btn-secondary">
    Voltar
</a>
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Apagar
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirma a exclusão do item abaixo? <br> </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%= categoryDetails.name %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="/painel/categoria/deletar/<%= categoryDetails.id %>"        
            class="btn btn-danger">
            Apagar
            </a>
        </div>
      </div>
    </div>
  </div>


        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>

  <!-- Form to submit a NEW item -->
  <% } else { %>

    <form class="py-3 px-4" action="/painel/categoria/0" method="POST">
      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="id"></label>
              <input type="hidden" name="id" class="form-control" id="id" value='' placeholder="id da Categoria">
          </div>
        <div class="form-group col-md-6">
          <label for="nome">Nome</label>
          <input type="text" name="nome" class="form-control" id="nome" value='' placeholder="Nome da Categoria">
        </div>
        <div class="form-group col-md-6">
          <label for="description">Descrição</label>
          <textarea class="form-control" name="description" id="description" rows='4'></textarea>
        </div>
  
  
        <div class="form-group col-md-6">
          <label for="newItem"></label>
            <input type="hidden" name="newItem" class="form-control" id="newItem" value='0' placeholder="id da Categoria">
        </div>
      <div class="mt-5">
  
  <!-- Button trigger modal -->
  <a href="/painel/categoria"        
      class="btn btn-secondary">
      Voltar
  </a>

 
  
          <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>


  <% } %>