<!-- Form to editing an existing item -->
<% if (newItem === false) { %>
<form class="py-3 px-4" action="/painel/desconto/<%= discountDetails.id %>" method="POST">
    <div class="form-row">
        <div class="form-group">
            <label for="id"></label>
            <input type="hidden" name="id" class="form-control" id="id" value='<%= discountDetails.id %>' placeholder="id do Desconto">
        </div>
      <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <input type="text" name="nome" class="form-control" id="nome" value='<%= discountDetails.name %>' placeholder="Nome do Desconto">
      </div>
      <div class="form-group col-md-6">
        <label for="description">Descrição</label>
        <textarea class="form-control" name="description" id="description" rows='4'><%= discountDetails.description %></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="discountpercent">Percentual de desconto</label>
        <input type="text" name="discountpercent" class="form-control" id="discountpercent" value='<%= discountDetails.discount_percent %>' placeholder="Desconto do Cupom">
      </div>
        <div class="form-group col-md-6">
            <label for="active">Ativo?</label>
            <select class="form-control" name="active" id="active">
                <option selected value="<%= discountDetails.active %>"><%= discountDetails.active  %> </option>
                <option value="<%= !discountDetails.active %>"><%= !discountDetails.active  %> </option>
            </select>
        </div>
  <div class="mt-5">

<!-- Button trigger modal -->
<a href="/painel/desconto"        
    class="btn btn-secondary">
    Voltar
</a>
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Apagar
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirma a exclusão do item abaixo? <br> </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%= discountDetails.name %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="/painel/desconto/deletar/<%= discountDetails.id %>"        
            class="btn btn-danger">
            Apagar
            </a>
        </div>
      </div>
    </div>
  </div>


        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>

  <% } else { %>

    <form class="py-3 px-4" action="/painel/desconto/0 %>" method="POST">
      <div class="form-row">
          <div class="form-group">
              <label for="id"></label>
              <input type="hidden" name="id" class="form-control" id="id" placeholder="id do Desconto">
          </div>
        <div class="form-group col-md-6">
          <label for="nome">Nome</label>
          <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome do Desconto">
        </div>
        <div class="form-group col-md-6">
          <label for="description">Descrição</label>
          <textarea class="form-control" name="description" id="description" rows='4'></textarea>
        </div>
        <div class="form-group col-md-6">
          <label for="discountpercent">Percentual de desconto</label>
          <input type="text" name="discountpercent" class="form-control" id="discountpercent" placeholder="Desconto do Cupom">
        </div>
          <div class="form-group col-md-6">
              <label for="active">Ativo?</label>
              <select class="form-control" name="active" id="active">
                  <option selected value="true">true</option>
                  <option value="false">false</option>
              </select>
          </div>
          <div class="form-group col-md-6">
            <label for="newItem"></label>
              <input type="hidden" name="newItem" class="form-control" id="newItem" value='0' placeholder="id do Produto">
    
          </div>
      <div class="mt-5">
  
  <!-- Button trigger modal -->
  <a href="/painel/desconto"        
      class="btn btn-secondary">
      Voltar
  </a>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirma a exclusão do item abaixo? <br> </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <%= discountDetails.name %>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <a href="/painel/desconto/deletar/<%= discountDetails.id %>"        
              class="btn btn-danger">
              Apagar
              </a>
          </div>
        </div>
      </div>
    </div>
  
  
          <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>

  <% } %>