<!-- Form to editing an existing item -->
<% if (newItem === false) { %>

<form class="py-3 px-4" action="/painel/produto/<%= productDetails.id %>" method="POST">
    <div class="form-row">
        <div class="form-group">
            <label for="id"></label>
            <input type="hidden" name="id" class="form-control" id="id" value='<%= productDetails.id %>' placeholder="id do Produto">
        </div>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" name="nome" class="form-control" id="nome" value='<%= productDetails.name %>' placeholder="Nome do Produto">
      </div>
      <div class="form-group">
        <label for="description">Descrição</label>
        <textarea class="form-control" name="description" id="description" rows='4'><%= productDetails.description %></textarea>
      </div>
    </div>
    <div class="form-group col-md-6">
        <label for="category">Categoria</label>
        <select class="form-control" name="category" id="category">
            <option selected value="<%= productDetails.category_id %>"><%= categoryList.find( cat => cat.id === productDetails.category_id ).name %> </option>

            <% categoryList.filter( cat => cat.id !== productDetails.category_id ).forEach(category => { %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-group col-md-6">
      <label for="imagelink">Image Link</label>
      <input type="text" class="form-control" name="imagelink" id="imagelink" value='<%= productDetails.image %>' placeholder="/assets/produts/xxx-xxx.jpg">
    </div>
    <div class="form-group col-md-6">
      <label for="SKU">SKU</label>
      <input type="text" class="form-control" name="SKU" id="SKU" value='<%= productDetails.SKU %>' placeholder="Número SKU do produto">
    </div>
    <div class="form-group col-md-6">
        <label for="price">Preço</label>
        <input type="text" class="form-control" name="price" id="price" value='<%= productDetails.price %>' placeholder="Preço do produto">
      </div>
    <div class="mt-5">

<!-- Button trigger modal -->
<a href="/painel/produto"        
    class="btn btn-secondary">
    Voltar
</a>
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Apagar
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirma a exclusão do item abaixo? <br> </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%= productDetails.name.substring(0, 100) %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="/painel/produto/deletar/<%= productDetails.id %>"        
            class="btn btn-danger">
            Apagar
            </a>
        </div>
      </div>
    </div>
  </div>


        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>

  <!-- Form to submit a NEW item -->
  <% } else { %>

  <form class="py-3 px-4" action="/painel/produto/0 %>" method="POST">
    <div class="form-row">
        <div class="form-group">
            <label for="id"></label>
            <input type="hidden" name="id" class="form-control" id="id" placeholder="id do Produto">
        </div>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome do Produto">
      </div>
      <div class="form-group">
        <label for="description">Descrição</label>
        <textarea class="form-control" name="description" id="description" rows='4'></textarea>
      </div>
    </div>
    <div class="form-group col-md-6">
        <label for="category">Categoria</label>
        <select class="form-control" name="category" id="category">
            <% categoryList.forEach(category => { %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-group col-md-6">
      <label for="imagelink">Image Link</label>
      <input type="text" class="form-control" name="imagelink" id="imagelink" placeholder="/assets/produts/xxx-xxx.jpg">
    </div>
    <div class="form-group col-md-6">
      <label for="SKU">SKU</label>
      <input type="text" class="form-control" name="SKU" id="SKU" placeholder="Número SKU do produto">
    </div>
    <div class="form-group col-md-6">
        <label for="price">Preço</label>
        <input type="text" class="form-control" name="price" id="price" placeholder="Preço do produto">
      </div>
      <div class="form-group col-md-6">
        <label for="newItem"></label>
          <input type="hidden" name="newItem" class="form-control" id="newItem" value='0' placeholder="id do Produto">
      </div>
    <div class="mt-5">

<!-- Button trigger modal -->
<a href="/painel/produto"        
    class="btn btn-secondary">
    Voltar
</a>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirma a exclusão do item abaixo? <br> </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="/painel/produto/deletar/<%= productDetails.id %>"        
            class="btn btn-danger">
            Apagar
            </a>
        </div>
      </div>
    </div>
  </div>


        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>


  <% } %>