<%- include('./partials/header') %>
  <main class="container">
    <section class="banner">
      <% if (typeof errors == 'undefined') { %> 
      <div class="avisos justify-content-center">
        <h1 class="mt-4 ">Adicionar produto</h1>
      </div>
      <% } %>

      <!-- Visualação condicional dos erros de validação do express-validator -->
      <% if (typeof errors != 'undefined') { %> 
        <p class="text-danger">Foram encontrados erros na sua solicitação.<br>Corrija as informações e envie novamente.</p>
        <ul>
          <% errors.forEach(error => { %>  
            <li class="register-error-alert" ><%= error.msg %></li>
          <% }) %>
        </ul>
      <% } %>

      <!-- Visualização dos erros no backend -->
      <% if (typeof error != 'undefined') { %> 
        <h4 class="h5 register-error-alert"><%= error %> </h4>
      <% } %> 


      <div class="form-signin">
        <form action="/adicionarProduto" method="POST" class='form-floating'>
          <div data-toggle="tooltip" title="Nome do produto" class="form-floating">
            <input  type="text" name="nome" class="nome form-control validar" id="nome" value="<%= locals.old && old.nome %>">
            <label for="nome">Nome</label>
          </div>
          <div data-toggle="tooltip" title="número da categoria" class="form-floating">
            <input type="text" name="category" class="category form-control validar" id="cpf" value="<%= locals.old && old.cpf %>">
            <label for="category">Categoria</label>
          </div>
          <div data-toggle="tooltip" title="Descrição completa das características do produto" class="form-floating">
            <input type="text" name="description" class="description form-control validar" id="tel" value="<%= locals.old && old.tel %>">
            <label for="description">Descrição do Produto</label>
          </div>
          <div data-toggle="tooltip" title="número do SKU do produto" class="form-floating">
            <input type="text" name="SKU" class="SKU form-control validar" id="email" value="<%= locals.old && old.email %>"> 
            <label for="SKU">SKU</label>
          </div>
          <div data-toggle="tooltip" title="Ex: 51.71" class="form-floating">
            <input type="text" name="price" id="price" class="h-300 price form-control validar">
            <label for="price">Preço</label>
          </div>

          <div class="login-buttons">
            <button type="submit" class="button home__button">Cadastrar</button>
          </div>

          <!-- Visualização da mensagem de sucesso -->
          <% if (typeof sucess != 'undefined') { %> 
            <a href="/login">
              <h4 class="h5 register-sucess-alert"><%= sucess %> </h4>
            </a>
          <% } %> 

        </form>
      </div>

    </section>
  </main>
  <%- include('./partials/footer') %>