<%- include('./partials/header') %>
<section class="h-100 gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Carrinho - <%= cartItens.length %> itens</h5>
            </div>
            <div class="card-body">
                

                
                <% if (cartItens.length === 0) { %>
                <!-- Single item -->
                <div class="row">
                    <p class="mt-2 text-danger">Nenhum produto adicionado ao carrinho.</p>
                </div>
                
                
                <% } else { %>
                
                <% for (let i = 0; i < cartItens.length; i++) { %>
                <!-- Single item -->
                <div class="row">
                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                    <!-- Image -->
                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                      <a href="/produto/<%= cartItens[i].product.id %>">
                        <img src="<%= cartItens[i].product.image %>"
                        class="w-100" alt="<%= cartItens[i].product.description.substring(0, 80) %>" />
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                        </a>
                    </div>
                    <!-- Image -->
                    </div>
    
                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                    <!-- Data -->
                    <p><strong><%= cartItens[i].product.name %></strong></p>
                    <p>SKU: <%= cartItens[i].product.SKU %></p>
                    <a href="/carrinho/remove/<%= cartItens[i].product.id %>" class="h-100">
                      <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                          title="Remover item">
                          <i class='bx bxs-trash-alt' ></i>
                      </button>
                    </a>
                    
                    <button type="button" class="disabled btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                        title="Move to the wish list">
                        <i class='bx bxs-heart' ></i>
                    </button>
                    <!-- Data -->
                    </div>
    
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <!-- Quantity -->
                    <div class="d-flex mb-4" style="max-width: 300px">
                      <a href="/carrinho/del/<%= cartItens[i].product.id %>" class="h-100">
                        <button class="btn btn-primary px-2 me-2 "
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class='bx bx-minus-circle'></i>
                        </button>
                      </a>

                        <div class="form-outline">
                        <input id="form1" min="0" name="quantity" value="<%= cartItens[i].quantity %>" type="number" class="form-control" />
                        <label class="form-label" for="form1">Quantidade</label>
                        </div>
    
                        <a href="/carrinho/add/<%= cartItens[i].product.id %>" class="h-100">
                          <button class="btn btn-primary px-2 ms-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class='bx bx-plus-circle'></i>
                          </button>
                        </a>
                    </div>
                    <!-- Quantity -->
    
                    <!-- Price -->
                    <p class="text-start text-md-center">
                        <strong><%= cartItens[i].product.price.toLocaleString('pt-BR', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %></strong>
                    </p>
                    <!-- Price -->
                    </div>
                </div>
                <!-- Single item -->

                <% } %>


              <% } %>
  
              <hr class="my-4" />

            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p><strong>Prazo de entrega previsto</strong></p>
              <p class="mb-0">
                <%= new Date(new Date().getTime() + 172800000).toLocaleDateString('pt-BR'); %>
                -
                <%= new Date(new Date().getTime() + 345600000).toLocaleDateString('pt-BR'); %>
              </p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>Aceitamos</strong></p>
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Resumo da Compra</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  Produtos
                  <span><%= cartItens.length === 0 ? '0' : cartItens[0].shoppingsession.total.toLocaleString('pt-BR', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  Entrega
                  <span>Grátis</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Total</strong>
                    <strong>
                      <p class="mb-0">(com impostos)</p>
                    </strong>
                  </div>
                  <span><strong><%= cartItens.length === 0 ? '0' : cartItens[0].shoppingsession.total.toLocaleString('pt-BR', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %></strong></span>
                </li>
              </ul>
  
              <button type="button" class="btn btn-primary btn-lg btn-block
              <%= cartItens.length === 0 ? 'disabled' : '' %>
              
              ">
                Ir para pagamentos
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('./partials/footer') %>