<%- include('./partials/header') %>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-sm-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav row">
          <li class="nav-item">
                <a class="nav-link <%- (typeof req != 'undefined' && req.originalUrl == ('/painel') && 'activelink') %>" aria-current="page" href="/painel">
                  <i class='bx bx-home' > </i>
                  <span>Dashboard</span>
                </a>
          </li>

          
          <li class="nav-item">
            <a class="nav-link <%- (typeof req != 'undefined' && req.originalUrl.includes('painel/usuario') ? 'activelink' : '') %>" aria-current="page" href="/painel/usuario">
              <i class='bx bxs-group' ></i>
              Usuários
            </a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link <%- (typeof req != 'undefined' && req.originalUrl.includes('painel/produto') ? 'activelink' : '') %>" aria-current="page" href="/painel/produto">
              <i class='bx bxs-cart' ></i>
              Produtos
            </a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link <%- (typeof req != 'undefined' && req.originalUrl.includes('painel/categoria') ? 'activelink' : '') %>" aria-current="page" href="/painel/categoria">
              <i class='bx bxs-category' ></i>
              Categorias
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%- (typeof req != 'undefined' && req.originalUrl.includes('painel/desconto') ? 'activelink' : '') %>" aria-current="page" href="/painel/desconto">
              <i class='bx bxs-badge-dollar' ></i>
              Descontos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%- (typeof req != 'undefined' && req.originalUrl.includes('painel/inventario') ? 'activelink' : '') %>" aria-current="page" href="/painel/inventario">
              <i class='bx bxs-store' ></i>
              Inventários
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%- (typeof req != 'undefined' && req.originalUrl.includes('painel/pedido') ? 'activelink' : '') %>" aria-current="page" href="/painel/pedido">
              <i class='bx bxs-package' ></i>
              Pedidos
            </a>
          </li>



          
        </ul>


      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 border-bottom">
      </div>

      <!-- Views para os alertas do express-validator -->
      <% if (typeof errors != 'undefined') { %> 
        <%- include('./dashboard/validationErrors') %>
      <% } %>

      <!-- Views para os alertas de erro -->
      <% if (typeof error != 'undefined') { %>
        <%- include('./dashboard/errors') %>
      <% } %>

      <!-- Views para os alertas de sucesso -->
      <% if (typeof success != 'undefined') { %>
        <%- include('./dashboard/alerts') %>
      <% } %>

      <!-- Views para os CRUDs do dashboard -->
      <% if (typeof productDetails != 'undefined') { %>
        <%- include('./dashboard/productDetails') %>
      <% } else if (typeof categoryDetails != 'undefined') { %>
        <%- include('./dashboard/categoryDetails') %>
      <% } else if (typeof userDetails != 'undefined') { %>
        <%- include('./dashboard/userDetails') %>
      <% } else if (typeof orderDetails != 'undefined') { %>
        <%- include('./dashboard/orderDetails') %>
      <% } else if (typeof discountDetails != 'undefined') { %>
        <%- include('./dashboard/discountDetails') %>
      <% } else if (typeof inventoryDetails != 'undefined') { %>
        <%- include('./dashboard/inventoryDetails') %>
      <% } %>

      <!-- Views para a lista dos itens do dashboard -->
      <% if (typeof categorias != 'undefined') { %>
        <%- include('./dashboard/categorias') %>
      <% } else if (typeof produtos != 'undefined') { %>
        <%- include('./dashboard/produtos') %>
      <% } else if (typeof usuarios != 'undefined') { %>
        <%- include('./dashboard/usuarios') %>
      <% } else if (typeof pedidos != 'undefined') { %>
        <%- include('./dashboard/pedidos') %>
      <% } else if (typeof descontos != 'undefined') { %>
        <%- include('./dashboard/descontos') %>
      <% } else if (typeof inventarios != 'undefined') { %>
        <%- include('./dashboard/inventarios') %>
      <% } else if (typeof principal != 'undefined') { %>



        
        <h3 class="mt-2 hellomsg"> Olá <span class="defaultcolor"><%= user.name %></span>, aqui você acessa a administração do site</h3>
        <% } %>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom">
      </div>

    </main>
  </div>
</div>
<%- include('./partials/footer') %>