<%- include('./partials/header') %>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-sm-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav row">

          <li class="nav-item">
            <a class="nav-link <%- (typeof req != 'undefined' && req.originalUrl == ('/usuario') && 'activelink') %>" aria-current="page" href="/usuario">
              <i class='bx bxs-user-circle' ></i>
              Minha Conta
            </a>            
          </li>

          <% if ( user.kind == 'admin') { %>
            <li class="nav-item">
              <a class="nav-link dashdetail " aria-current="page" href="/painel">
                <i class='bx bxs-dashboard'></i>
                Dashboard Admin
              </a>            
            </li>
          <% } %>
          
          <li class="nav-item">
            <a class="nav-link <%- (typeof req != 'undefined' && req.originalUrl.includes('usuario/dados') ? 'activelink' : '') %>" aria-current="page" href="/usuario/dados">
              <i class='bx bxs-user-detail' ></i>
              Cadastro
            </a>            
          </li>

          <li class="nav-item">            
            <a class="nav-link <%- (typeof req != 'undefined' && req.originalUrl.includes('usuario/enderecos') ? 'activelink' : '') %>" aria-current="page" href="/usuario/enderecos">
              <i class='bx bxs-home' ></i>
              Endereços
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%- (typeof req != 'undefined' && req.originalUrl.includes('usuario/pagamentos') ? 'activelink' : '') %>" aria-current="page" href="/usuario/pagamentos">
              <i class='bx bxs-wallet'></i>
              Pagamentos
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%- (typeof req != 'undefined' && req.originalUrl.includes('usuario/pedidos') ? 'activelink' : '') %>" aria-current="page" href="/usuario/pedidos">
              <i class='bx bxs-package'></i>
              Pedidos
            </a>
          </li>
                    
        </ul>


      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 border-bottom">
      </div>

      <!-- Views para os alertas do express-validator -->
      <% if (typeof errors != 'undefined') { %> 
        <%- include('./dashboard/validationErrors') %>
      <% } %>

      <!-- Views para os alertas de erro -->
      <% if (typeof error != 'undefined') { %>
        <%- include('./dashboard/errors') %>
      <% } %>

      <!-- Views para os alertas de sucesso -->
      <% if (typeof success != 'undefined') { %>
        <%- include('./dashboard/alerts') %>
      <% } %>

      <!-- Views para os CRUDs do dashboard -->
      <% if (typeof enderecoDetails != 'undefined') { %>
        <%- include('./usuario/enderecoDetails') %>
      <% } else if (typeof pagamentoDetails != 'undefined') { %>
        <%- include('./usuario/pagamentoDetails') %>     
        <% } else if (typeof pedidoDetails != 'undefined') { %>
          <%- include('./usuario/pedidoDetails') %>   
      <% } %>

      <!-- Views para a lista dos itens do dashboard -->
      <% if (typeof dados != 'undefined') { %>
        <%- include('./usuario/dados') %>
      <% } else if (typeof pagamentos != 'undefined') { %>
        <%- include('./usuario/pagamentos') %>
      <% } else if (typeof enderecos != 'undefined') { %>
        <%- include('./usuario/enderecos') %>
      <% } else if (typeof pedidos != 'undefined') { %>
        <%- include('./usuario/pedidos') %>
      <% } else if (typeof principal != 'undefined') { %>



        
        <h3 class="mt-2 hellomsg"> Olá <span class="defaultcolor"><%= user.name %></span>, aqui são os detalhes da sua conta :)</h3>
      <% } %>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom">
      </div>

    </main>
  </div>
</div>
<%- include('./partials/footer') %>